@font-face {
  font-family: "Google Sans Flex";
  src:url(../../fonts/GOOGLESANSFLEX-REGULARBYHGGGYY.1.0.0.TTF);
}

:root {
  --md-text-font: "Google Sans Flex", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 680;
}

.md-typeset h3 {
  font-weight: 640;
}

.md-typeset h4 {
  font-weight: 600;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  letter-spacing: 0;
}

.md-typeset {
  font-size: .75rem;
}

.md-typeset code:not(pre code) {
  font-size: inherit;
}