:root {
  --md-text-font: "Cascadia Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
}

.md-typeset h3 {
  font-weight: 500;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  letter-spacing: 0;
}

.md-typeset {
  font-size: .75rem;
}

.md-typeset h3 {
  font-weight: 600;
}

.md-typeset code:not(pre code) {
  font-size: inherit;
}