site_name: Undertree's 小站
repo_name: Undtree/Notes
repo_url: https://github.com/Undtree/Notes/

nav:
  - Home: index.md

  # - 数学:
  #   - 数值分析: NA.md
  # - 外语:
  #   - 日语(日本語): JPN.md
  - 计算机科学:
    - 计算机网络: Network.md
    - 操作系统: OS.md
    # - 计算机体系结构: CA.md
    - 数据库系统: DBS.md
    - 计算理论: CT.md
    # - 数据结构与算法分析:
    #   - FDS: FDS.md

    # - 面向对象程序设计(in C++): OOP.md
    # - 编译原理: 编译原理.md
  - 安全:
    - 密码学: Crypto.md
    # - 软件安全: SwSec.md

theme:
    name: material
    # favicon: assets/logo/
    language: 'zh'
    features:
      - toc.follow
      - content.code.copy
      - search.share
      - search.suggest
      - search.highlight
      - navigation.tracking
      - navigation.tabs
      - navigation.indexes
      - navigation.top
    font: false
    palette:
      - media: "(prefers-color-scheme)"
        scheme: default
        primary: indigo
        accent: indigo
        toggle:
          icon: material/brightness-auto
          name: 切换至日间模式

      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: indigo
        accent: indigo
        toggle:
          icon: material/brightness-7
          name: 切换至夜间模式

      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: indigo
        accent: indigo
        toggle:
          icon: material/brightness-4
          name: 切换至跟随系统
    icon: 
      logo: material/notebook-outline

plugins:
    - statistics
    - search
    - mermaid2

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - markdown_cjk_spacing.cjk_spacing
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  
extra_javascript:
  - javascripts/mathjax.js
# - javascripts/toc_scroll_fix.js
  - https://cdn.tonycrane.cc/utils/katex.min.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra_css:
# - https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap
# - https://cdn.tonycrane.cc/utils/katex.min.css
# - https://cdn.tonycrane.cc/jbmono/jetbrainsmono.css
# - https://cdn.tonycrane.cc/lxgw/lxgwscreen.css
  - https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
# - https://gcore.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  - stylesheets/extra.css
  - stylesheets/card.css