@font-face {
  font-family: "Google Sans Flex";
  src:url(../assets/fonts/GOOGLESANSFLEX-REGULARBYHGGGYY.1.0.0.TTF) format('truetype');
  font-display: swap;
}

:root {
  --md-text-font: "Google Sans Flex", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #00296a; /* 页眉背景 */
  --md-primary-fg-color--dark:  #000732; /* 深色变体 */
  --md-primary-fg-color--light: #2c4c83; /* 浅色变体 */
  --md-accent-fg-color:         #0097a7;
  --md-typeset-a-color:         #006064; 
} 

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00122e; 
  --md-primary-fg-color--dark:  #000000;

  /* 2. 背景色 - 覆盖 Slate 默认的灰色，改为深蓝灰 */
  --md-default-bg-color:        #0d1117; /* GitHub Dark 风格 */

  --md-accent-fg-color:         #4dd0e1; 
  
  /* 4. 代码块背景 - 让代码块稍微有点颜色区分 */
  --md-code-bg-color:           #161b22;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 680;
}

.md-typeset h3 {
  font-weight: 650;
}

.md-typeset h4 {
  font-weight: 620;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  letter-spacing: 0;
}

.md-typeset {
  font-size: .75rem;
}

.md-typeset code:not(pre code) {
  font-size: inherit;
}

/* 功能：折叠逻辑 (简化版) */

/* 默认状态：
   找到右侧栏里，所有的 li 下面的 "子菜单容器(.md-nav)"
   全部隐藏 */
.md-sidebar--secondary li .md-nav {
  /* 关键：必须设为 block 才能有高度动画，不能用 display: none */
  display: block; 
  
  /* 初始状态：高度为 0，透明不可见 */
  max-height: 8px;
  opacity: 0;
  overflow: hidden;
  
  /* 动画设置：高度和透明度在 0.3秒内平滑过渡 */
  /* cubic-bezier 是 Material Design 标准的缓动曲线，手感更好 */
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
              opacity 0.3s linear;
}

/* 展开状态：当满足以下任一条件时展开 */
/* A. 父级标题被激活 (.md-nav__item--active) */
/* B. 内部包含了被激活的链接 (:has(.md-nav__link--active)) */
.md-sidebar--secondary li.md-nav__item--active > .md-nav,
.md-sidebar--secondary li:has(.md-nav__link--active) > .md-nav {
  /* 设置一个足够大的最大高度，确保内容能完全显示 */
  /* 如果你的某个三级标题列表特别长，可以把这个数字改大，比如 2000px */
  max-height: 1000px; 
  
  opacity: 1;
}

/* 主题切换过渡 */

body, 
.md-header, 
.md-sidebar, 
.md-footer,
.md-main__inner,
.md-nav__link {
    transition: background-color 0.5s ease, color 0.5s ease;
}

[data-md-color-scheme="slate"] {
    transition: background-color 0.5s ease, color 0.5s ease;
}